# Python cache
__pycache__/
*.py[cod]

# Streamlit
.streamlit/

# DuckDB
*.duckdb

# OS / IDE
.DS_Store
.vscode/
.idea/

.env
venv/
etvenv1/
etvenv/

# Unused directories
ET_DashBoard_Project/

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# Backend pycache
backend/__pycache__/
backend/**/__pycache__/